<h1>CONTATO</h1>
<h4>Dúvidas? Sugestões? Precisa de mais informações? Fale agora com a nossa equipe.</h4>

<div class="row mt-5 mb-5">
  <div class="col-4"></div>
  <div class="col-4">

    <div><b>Equipe Beautycare Brazil&nbsp;</b></div>
    <div><br></div>
    <div><b>Presidente Executivo:</b> João Carlos Basilio</div>
    <div><br></div>
    <div><b>Gerente de Projeto:</b> Gueisa Silvério</div>
    <div><b>Coordenador de Promoção:</b> Tiago Milani</div>
    <div><b>Analista Financeiro: </b>Tulio Francisco</div>
    <div>&nbsp;</div>
    <div>Áreas internas de apoio</div>
    <div><b>Gerente de Assuntos Regulatórios:</b> Renata Amaral</div>
    <div><b>Gerente de Comércio Exterior:</b> Ricardo de Nobrega</div>
    <div><b>Gerente de Inteligência de Mercado:</b> Elaine Gerchon</div>
    <div><b>Gerente de Comunicação e Marketing:</b> Karla Brandão</div>
    <div><b>Assistente de Promoção: </b>Anna Serec</div>
    <div><b>Assistente Administrativa: </b>Fernanda Cristina</div>

  </div>
  <div class="col-4"></div>
</div>
