<div class="container">
  <div class="row">
    <div class="banner col-12" >
      <!-- <img class="d-block w-100" src="assets/images/banners/abihpec.png" *ngIf="banner[0]"  @fadeInOut> -->
      <img class="d-block w-100" src="assets/images/banners/feira-adiada.png" *ngIf="banner[0]"  @fadeInOut>
      <!-- <a href="http://beautycarebrazil.org.br/Circular_RoadShow_Af_do_Sul_2020.pdf" target="_blank"><img class="d-block w-100" src="assets/images/banners/bannerroadshow.png"  *ngIf="banner[1]"  @fadeInOut></a> -->
      <!-- <img class="d-block w-100" src="assets/images/banners/banneralterado2_.jpg" *ngIf="banner[1]"  @fadeInOut> -->
      <img class="d-block w-100" src="assets/images/banners/bannerincosmetcisglobal_.png" *ngIf="banner[1]"  @fadeInOut>
      <img class="d-block w-100" src="assets/images/banners/banner.jpg" *ngIf="banner[2]"  @fadeInOut>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-6">
      <div class="col-12 titulopainel"><b>Painéis</b> Interativos</div>
      <div class="col-12 backgroundpainel">
         <a href="javascript:void" routerLink="/paineis">+ Veja nosso relatório completo</a>


      </div>
    </div>
    <div class="col-4">
        <table class="calendario" >
            <thead>
              <tr>
                <th colspan="7">{{mesTxt}}</th>
              </tr>
            </thead>
            <tbody>
              <tr class="weekday">
                <td class="fds">Dom</td>
                <td>Seg</td>
                <td>Ter</td>
                <td>Qua</td>
                <td>Qui</td>
                <td>Sex</td>
                <td class="fds">Sáb</td>
              </tr>
              <ng-container *ngIf="semanas.length == 0">
                <tr>
                  <td colspan="7"> &nbsp;</td>
                </tr>
                <tr>
                  <td colspan="7">  &nbsp;</td>
                </tr>
                <tr>
                  <td colspan="7"> &nbsp; </td>
                </tr>
                <tr>
                  <td colspan="7"> &nbsp; </td>
                </tr>
                <tr>
                  <td colspan="7"> &nbsp; </td>
                </tr>
              </ng-container>
              <tr *ngFor="let dias of semanas;"  routerLink="/calendario">
                <td *ngFor="let dia of dias;let i = index" class="{{i==0||i==6?'fds':''}}  {{dia.dateEvent?'diaEvento':''}}">{{dia.dia}}</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="col-1"></div>
  </div>
</div>


<!-- <ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[0]" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[1]" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[2]" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
</ngb-carousel> -->
<!--
 -->

<!-- <carousel>
  <slide>
    <img src="assets/images/banners/bannercosmoproflasvegas_.jpg" alt="first slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/banners/banneralterado2_.jpg" alt="second slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/banners/bannerincosmetcisglobal_.jpg" alt="third slide" style="display: block; width: 100%;">
  </slide>
</carousel> -->
