<div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
  <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
    <div class="row w-100">
      <div class="col-lg-4 mx-auto mb-5">
        <div class="auto-form-wrapper">
          <form (ngSubmit)="recuperarSenha()" [formGroup]="recoverPassFormGroup">
            <h4>Recuperar senha</h4>
            <div class="form-group">
              <label class="label">E-mail</label>
              <div class="input-group">
                <input type="text" class="form-control" formControlName="email" placeholder="email@example.com">
                <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                </div>
              </div>
            </div>
            <div *ngIf="showError" class="red-alert mt-1 mb-3">
              Email não encontrado. Entre em contato com o atendimento.
            </div>
            <div class="form-group" *ngIf="!linkSent">
              <button class="btn btn-primary submit-btn btn-block">Enviar</button>
            </div>
            <div class="row mt-3" *ngIf="linkSent">
              <div class="col">
                <div class="alert alert-success" role="alert">
                  Um e-mail com endereço para recadastrar sua senha foi enviado.
                </div>
              </div>
            </div>

            <div class="text-block text-center my-3">
              <a href="/auth/login" class="text-black text-small">Entrar no site!</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
</div>