<h1>Institucional</h1>
<h4>Apresentação</h4>

<div class="p">
  O Projeto Setorial Beautycare Brazil é uma parceria entre ABIHPEC (Associação Brasileira da Indústria de Higiene Pessoal, Perfumaria e Cosméticos) e Apex-Brasil (Agência Brasileira de Promoção de Exportações e Investimentos) e tem como objetivo Alavancar o crescimento das exportações de produtos e serviços que envolvem a cadeia de valor do setor de HPPC (produtos acabados, ingredientes, embalagens, serviços e acessórios em geral), buscando alcançar 20% de aumento de resultados nos próximos 5 anos.
</div>

<div class="p">
  O trabalho deste projeto é direcionado para o incentivo e auxílio a empresas ainda não atuantes no mercado internacional, assim como apoio e suporte para empresas exportadoras, respeitando a suas estratégias individuais.
</div>

<div class="p">
  A parceria com diversas áreas de atuação da ABIHPEC voltadas ao setor de HPPC, nos permite estar sempre atentos ao comportamento de mercado interno e externo, incluindo análise e avaliação de interferências comerciais, barreiras tarifárias e não tarifárias, acordos e alíquotas internacionais, logística e aduanas, variáveis mercadológicas, econômicas e políticas, direcionando a realização das ações de forma a melhor atender o grupo de empresas participantes.
</div>

<div class="p">
  <strong>História</strong>
  <br><br>
  Desenvolvido no ano 2000, o Beautycare Brazil teve a primeira ação comercial realizada em 2001, com consecutiva e crescente participação, coordenação e realização de ações diversas nos 05 continentes, entre elas destacam-se feiras internacionais, missões comerciais, projeto comprador, estudos de mercados, ações de capacitação, missões prospectivas.
</div>

<div class="p">
  <strong>Propósito</strong>
  <br><br>
  Promover a internacionalização das empresas de Higiene Pessoal, Perfumaria e Cosméticos.
</div>
