<h1>Sobre o projeto</h1>

<div class="p">
  Trata-se de um programa dinâmico, com estratégias voltadas ao atendimento e benefício do grupo de empresas participantes, com foco no mercado internacional.
</div>

<div class="p">
  Este trabalho inclui desde o planejamento, estratégia e mercados-alvo, até a definição quanto ao formato de apoio, calendário de ações e eventos do projeto, onde contamos com a participação e contribuição de todos os integrantes do grupo e, posteriormente, definições que são tomadas por um Comitê Gestor, que é composto por 10 empresas participantes, gerente e gestor de projeto - de acordo com o Manual de convênios da Apex-Brasil.
</div>

<div class="p">
  O acompanhamento e medição de resultados, é extremamente relevante para a operacionalização do projeto, possibilitando a avaliação frequente de metas, comportamento das exportações e possíveis interferências em cada mercado-alvo do projeto, possibilitando frequente validação dos eventos planejadas, assim como a aplicação de melhorias e ajuste de ações.
</div>

<div class="p">
  A ABIHPEC desenvolveu uma estrutura voltada exclusivamente para as atividades de promoção internacional. Assim, todas as empresas participantes poderão se beneficiar das atividades nacionais e/ou internacionais do projeto setorial, de acordo com o seu enquadramento no nível de segmentação do projeto, que define benefícios e critérios de acesso às ações e eventos do projeto, de acordo com a maturidade e competências internacionais.
</div>

<div class="p">
  Todas as informações estão descritas no documento completo do Projeto setorial Beautycare Brazil 2019-2021 (clique aqui)*
</div>

<div class="p">
  *Mesmo documento que está na aba “Documentos” em “Sobre o Projeto”.
</div>

<div class="p">
  <strong>Quem pode participar?</strong>
  <br><br>
  Empresas brasileiras associadas ou não à ABIHPEC que compõem a cadeia produtiva do segmento de higiene pessoal, perfumaria e cosméticos, separadas em 5 diferentes verticais:
</div>

<div class="p">
  Produtos acabados - empresas detentoras de produtos finais;
  <br>
  Ingredientes - insumos;
  <br>
  Embalagens;
  <br>
  Serviços laboratoriais;
  <br>
  Acessórios - equipamentos, mobília, acessórios para salões de cabelereiros, produtos de beleza e afins.
</div>

<div class="p">
  <strong>Benefícios</strong>
  <br><br>
  Desconto para participação em ações e eventos do projeto;
  <br>
  Apoio nas diversas áreas de atuação da entidade, além do projeto setorial.
</div>

<div class="p">
  <strong>Valores</strong>
  <br><br>
  <a href="http://beautycarebrazil.org.br/arquivos/valores_projeto.pdf" target="_blank">Clique aqui* </a>e saiba os valores vigentes para contribuição anual e taxas de inscrições para participação em ações e eventos do projeto. (o clique aqui fará o download do arquivo em PDF).
</div>

<div class="p">
  <strong>Documentos necessários para adesão</strong>
  <br><br>
  <a href="https://www.dropbox.com/sh/jomaybbue6pd4qb/AAAEbdjicDdhErca2LCLZhUPa?dl=0&preview=Termo+de+Ades%C3%A3o.pdf" target="_blank">Termo de adesão Apex-Brasil</a>
  <br>
  <a href="https://www.dropbox.com/sh/jomaybbue6pd4qb/AAAEbdjicDdhErca2LCLZhUPa?dl=0&preview=Condi%C3%A7%C3%B5es+gerais+de+participa%C3%A7%C3%A3o.pdf" target="_blank">Condições gerais ABIHPEC</a>
  <br>
  <a href="http://beautycarebrazil.org.br/arquivos/verticais_projeto.pdf" target="_blank">Planilha de categorias</a>
  <br>
  CNPJ (enviar print da tela RFB).
</div>

<div class="p">
  <strong>Como aderir?</strong>
  <br><br>
  1º passo: Entrega de documentos para participação do projeto para fernanda@abihpec.org.br;
  <br><br>
  2º passo: A empresa deverá optar pela filiação ou não à ABIHPEC (para informações sobre filiação à ABIHPEC entre em contato com financeiro@abihpec.org.br);
  <br><br>
  3º passo: Pagamento de taxa de anuidade do projeto setorial;
  <br><br>
  4º passo: Entrega de ficha cadastral para segmentação (clique aqui* para acessar o manual de segmentação da sua vertical) de empresas.
</div>

<div class="p">
  <strong>Para mais informações entre em contato</strong>
  <br><br>
  Tiago Milani
  <br>
  tiago@abihpec.org.br
  <br>
  (11) 3372-9893

</div>
