<h1>MANUAL DE REGULAMENTAÇÃO</h1>
<div class="container">
  <div class="row">
    <div class="col-12 mt-5">
      <a href="http://beautycarebrazil.org.br/arquivos/africa.html" target="_blank">• ÁFRICA DO SUL</a><br />
      <a href="http://beautycarebrazil.org.br/arquivos/arabiasaudita.html" target="_blank">• ARÁBIA SAUDITA</a><br />
      <a href="http://beautycarebrazil.org.br/arquivos/australia.html" target="_blank">• AUSTRÁLIA</a><br />
      <a href="http://beautycarebrazil.org.br/arquivos/canada.html" target="_blank">• CANADÁ</a><br />
      <a href="http://beautycarebrazil.org.br/arquivos/chile.html" target="_blank">• CHILE</a><br />
      <a href="http://beautycarebrazil.org.br/arquivos/colombia.html" target="_blank">• COLÔMBIA</a><br />
      <a href="http://beautycarebrazil.org.br/arquivos/costarica.html" target="_blank">• COSTA RICA</a><br />
      <a href="http://beautycarebrazil.org.br/arquivos/egito.html" target="_blank">• EGITO</a><br />
      <a href="http://beautycarebrazil.org.br/arquivos/emiradosarabes.html" target="_blank">• EMIRADOS ÁRABES</a><br />
      <a href="http://beautycarebrazil.org.br/arquivos/equador/" target="_blank">• EQUADOR</a><br />
      <a href="http://beautycarebrazil.org.br/arquivos/usa.html" target="_blank">• ESTADOS UNIDOS</a><br />
      <a href="http://beautycarebrazil.org.br/arquivos/Etiopia.html" target="_blank">• ETIÓPIA</a><br />
      <a href="http://beautycarebrazil.org.br/arquivos/gana.html" target="_blank">• GANA</a><br />
      <a href="http://beautycarebrazil.org.br/arquivos/india.html" target="_blank">• INDÍA</a><br />
      <a href="http://beautycarebrazil.org.br/arquivos/iraque/" target="_blank">• IRAQUE</a><br />
      <a href="http://beautycarebrazil.org.br/arquivos/israel.html" target="_blank">• ISRAEL</a><br />
      <a href="http://beautycarebrazil.org.br/arquivos/libano/" target="_blank">• LÍBANO</a><br />
      <a href="http://beautycarebrazil.org.br/arquivos/marrocos/" target="_blank">• MARROCOS</a><br />
      <a href="http://beautycarebrazil.org.br/arquivos/mercosul/" target="_blank">• MERCOSUL COM FOCO EM ARGENTINA, PARAGUAI E URUGUAI</a><br />
      <a href="http://beautycarebrazil.org.br/arquivos/mexico.html" target="_blank">• MÉXICO</a><br />
      <a href="http://beautycarebrazil.org.br/arquivos/panama/" target="_blank">• PANAMÁ</a><br />
      <a href="http://beautycarebrazil.org.br/arquivos/peru.html" target="_blank">• PERU</a><br />
      <a href="http://beautycarebrazil.org.br/arquivos/russia/" target="_blank">• RÚSSIA</a><br />
      <a href="http://beautycarebrazil.org.br/arquivos/turquia.html" target="_blank">• TURQUIA</a><br />
      <a href="http://beautycarebrazil.org.br/arquivos/uniaoeuropeia/" target="_blank">• UNIÃO EUROPEIA COM FOCO EM ALEMANHA, ESPANHA, FRANÇA E ITÁLIA</a><br />
      <a href="http://beautycarebrazil.org.br/arquivos/uniaoeuropeiaportugal.html" target="_blank">• UNIÃO EUROPEIA COM FOCO EM PORTUGAL</a>
    </div>
  </div>
</div>




