<div class="container white">
    <div class="row mb-4" *ngIf="!me">
        <div class="col-12">
            <h2>Cadastro</h2>
            <h4>Ainda não possui cadastro ou deseja acessar a sua conta?</h4>
        </div>
        <div class="col-12 my-3"><a routerLink="/auth/login" class="btn btn-primary px-5 py-3" style="color: white !important; font-size: 22px">Clique aqui</a></div>
    </div>
    <div class="row noticias" *ngIf="me">
        <div class="col-12 my-5">
            <h2>
                Notícias do mercado
            </h2>
            <h3>Leia as útimas noícias exclusivas para você!</h3><a class="download-link" #downloadLink></a>
            <div class="mt-4"><a href="https://www.dropbox.com/sh/v9wibfjentwgho0/AAAptJmblRp1VCcgP62AM6Ifa?dl=0" target="_blank">Clique aqui para visualizar as informações de Inteligência de Mercado.</a></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-5">
            <h2>
                Empresas
            </h2>
            <h3>Confira as últimas empresas cadastradas</h3>
        </div>
        <div class="col-12" *ngIf="ultimas">
            <div class="row mb-3" *ngFor="let e of ultimas">
                <div class="col-4">
                    <div class="wire pointer d-flex justify-content-center align-items-center" routerLink="/empresas/empresa/{{e.id}}"><img src="{{environment.API_URL + '/upload/logo/' + e['logo'] }}" appFit="" alt=""></div>
                </div>
                <div class="col-8">
                    <h3 class="pointer" routerLink="/empresas/empresa/{{e.id}}">{{e.nome_fantasia}}</h3>
                    <h4 class="pointer" routerLink="/empresas/empresa/{{e.id}}">{{e.razao_social}}</h4>
                    <p class="pointer" routerLink="/empresas/empresa/{{e.id}}">{{e.descricao | words:20}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
