<h1>DOCUMENTOS</h1>
<div class="container">
<div class="row mt-5 mb-5">
  <div class="col-4 mb-5">
    <a href="https://www.dropbox.com/s/lqb78vu8u9bn921/Projeto%20Setorial%20Beautycare%20Brazil%202019-2021.pdf?dl=0" target="_blank"><img src="assets/images/projeto.png" /></a>
  </div>
  <div class="col-4  mb-5">
    <a href="https://www.dropbox.com/sh/jomaybbue6pd4qb/AAAEbdjicDdhErca2LCLZhUPa?dl=0" target="_blank"><img src="assets/images/adesao.png" /></a>
  </div>
  <div class="col-4 mb-5">
    <a href="http://beautycarebrazil.org.br/arquivos/valores_projeto.pdf" target="_blank"><img src="assets/images/participacao.png" /></a>
  </div>
  <div class="col-4 mb-5">
    <a href="https://www.dropbox.com/sh/l8jsytdgkh71vk0/AABNkR_iQfJfSyGOVwoGWWkfa?dl=0" target="_blank"><img src="assets/images/segmentacao.png" /></a>
  </div>
  <div class="col-4 mb-5">
    <a href="javascript:void(0)" routerLink="/documentos/manual-tecnico"><img src="assets/images/acaotecnica.png" /></a>
  </div>
</div>
</div>
