@import url('https://fonts.googleapis.com/css?family=Encode+Sans:400,600,700,800');
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~bootstrap/scss/bootstrap";
@import "variables";

body {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  margin-top: 215px;
  background: white url("http://beautycarebrazil.org.br/index.hyperesources/marcadagua.png") no-repeat center 50px;
  background-size: 100% auto;
  overflow-x: hidden;
  color: #4b4b4b;
  @include media-breakpoint-down(sm) {
    margin-top: 121px;
  }
  app-header {
    padding: 0;
    margin: 0;
    max-width: 100vw;
  }
  a {
    color: $font-color-tertiary !important;
  }
}

.container {
  &.white {
    padding: 30px;
    background: #fff;
    margin-bottom: 40px;
  }
}

/////////////////// Utils ///////////////////////

.u {
  text-transform: uppercase !important;
}
.ftu {
  text-transform: capitalize;
}
.pointer {
  cursor: pointer;
}
.wsp {
  white-space: pre-wrap;
}
.br-4 {
  border-radius: 4px;
  overflow: hidden;
}
.linky {

}
img.transparent {
  opacity: 0.01;
}

/////////////////// Titles //////////////////////

h2 {
  font-size: $font-size-45 !important;
  font-weight: $font-weight-extra-bold !important;
  color: $font-color-secondary !important;
  text-transform: uppercase;
}
h3 {
  font-size: $font-size-28 !important;
  font-weight: $font-weight-normal !important;
  color: $font-color-tertiary !important;
}
h4 {
  font-size: $font-size-20 !important;
  font-weight: $font-weight-normal !important;
  color: $gray-600 !important;
}

/////////////////// Forms ///////////////////////

input.form-control::placeholder {
  color: $gray-500 !important;
}
form {
  label {
    small {
      color: $gray-600;
      font-size: $font-size-11;
      padding-left: 10px;
    }
  }
  .red-alert {
    color: $red;
  }
}

.btn-primary {
  background-color: $font-color-secondary !important;
}

.ng-select .ng-select-container {
  min-height: 38px !important;
}

////////////////// Pagination /////////////////

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: $font-color-secondary;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
.page-item.active .page-link {
  z-index: 1;
  color: #fff !important;
  background-color: $font-color-tertiary;
  border-color: $font-color-tertiary;
}

////////////////// Cool stuff /////////////////

.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  width: 70%;
  margin: 0.5rem auto;
  > span {
    position: relative;
    display: inline-block;
    font-size: 0.857em;
    font-style: italic;
    &:before, &:after {
      content: "";
      position: absolute;
      top: 55%;
      width: 9999px;
      height: 1px;
      background: #D4D4D4;
    }
    &:before {
      right: 100%;
      margin-right: 15px;
    }
    &:after {
      left: 100%;
      margin-left: 15px;
    }
  }
}
